<div class="flex-container">
    <p>You can add products: Phone and Television.<br>

            If you wand add Product click there:
        <button type="button" id="formAddProduct">Add Product</button><br>
            If you wand add Phone click there:
        <button type="button" id="formAddPhone">Add Phone</button><br>
            If want add Television click there:
        <button type="button" id="formAddTelevision">Add Television</button><br></p><br>

    <div class="flex-item">

        <form class="hidden" id="formProduct" method="post" action="/edit/add">
            FORM ADD Product
            <input class="form-control" type="text" maxlength="30" name="name"
                   placeholder="Input Name here..." title="Name"><br>
            <input class="form-control" type="number" step="0.1" name="price"
                   placeholder="Input Price here..." title="Price"><br>
            <input class="form-control" type="text" maxlength="60" name="manufacturer"
                   placeholder="Input Manufacturer here..." title="Manufacturer"><br>
            <input class="form-control" type="number" maxlength="4" name="year"
                   placeholder="Input Year here..." title="Year"><br>
            <input class="form-control" type="hidden" maxlength="30" name="category" value="Product"
                   placeholder="Input Category here..." title="Category"><br>

            <button type="submit" class="btn btn-primary mb-2">Add Product</button>
        </form>

    <form class="hidden" id="formPhone" method="post" action="/edit/add">
        FORM ADD PHONE
        <input class="form-control" type="text" maxlength="30" name="name"
               placeholder="Input Name here..." title="Name"><br>
        <input class="form-control" type="number" step="0.1" name="price"
               placeholder="Input Price here..." title="Price"><br>
        <input class="form-control" type="text" maxlength="60" name="manufacturer"
               placeholder="Input Manufacturer here..." title="Manufacturer"><br>
        <input class="form-control" type="number" maxlength="4" name="year"
               placeholder="Input Year here..." title="Year"><br>
        <input class="form-control" type="hidden" maxlength="30" name="category" value="Phone"
               placeholder="Input Category here..." title="Category"><br>
        <input class="form-control" type="number" step="0.1" name="screenDiagonal"
               placeholder="Input ScreenDiagonal here..." title="ScreenDiagonal"><br>
        <input class="form-control" type="number" step="0.1" name="ram"
               placeholder="Input Ram here..." title="Ram"><br>
        <input class="form-control" type="number" step="0.1" name="internalMemory"
               placeholder="Input InternalMemory here..." title="InternalMemory"><br>

        <button type="submit" class="btn btn-primary mb-2">Add Phone</button>
    </form>

    <form class="hidden" id="formTelevision" method="post" action="/edit/add">
        FORM ADD TELEVISION
        <input class="form-control" type="text" maxlength="30" name="name"
               placeholder="Input Name here..." title="Name"><br>
        <input class="form-control" type="number" step="0.1" name="price"
               placeholder="Input Price here..." title="Price"><br>
        <input class="form-control" type="text" maxlength="60" name="manufacturer"
               placeholder="Input Manufacturer here..." title="Manufacturer"><br>
        <input class="form-control" type="number" maxlength="4" name="year"
               placeholder="Input Year here..." title="Year"><br>
        <input class="form-control" type="hidden" maxlength="30" name="category" value="Television"
               placeholder="Input Category here..." title="Category"><br>
        <input class="form-control" type="number" step="0.1" name="screenDiagonal"
               placeholder="Input ScreenDiagonal here..." title="ScreenDiagonal"><br>

        <button type="submit" class="btn btn-primary mb-2">Add Television</button>
    </form>
    </div>

</div>

<div class="flex-container">
    <table class="tableAllProduct">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Manufacturer</th>
            <th>Year</th>
            <th>Category</th>
            <th>Screen Diagonal</th>
            <th>Ram</th>
            <th>Internal Memory</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        <!--DataAllProducts-->
    </table>
</div>
<!--MessageForSender-->



<!--<button type="button" data-toggle="modal" data-target="#updateModal">Edit</button>
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/edit/update">
                    FORM EDIT PRODUCT
                    <input class="form-control" type="hidden" name="id" value="1000" title="Id"><br>
                    <input class="form-control" type="text" maxlength="30" name="name" value="FirstProd"
                           placeholder="Input Name here..." title="Name"><br>
                    <input class="form-control" type="number" step="0.1" name="price" value="1000"
                           placeholder="Input Price here..." title="Price"><br>
                    <input class="form-control" type="text" maxlength="60" name="manufacturer" value="Manufacturer"
                           placeholder="Input Manufacturer here..." title="Manufacturer"><br>
                    <input class="form-control" type="number" maxlength="4" name="year" value="2020"
                           placeholder="Input Year here..." title="Year"><br>
                    <input class="form-control" type="hidden" maxlength="30" name="category" value="Product" title="Category"><br>
                    <input class="form-control" type="number" step="0.1" name="screenDiagonal" value="sd"
                           placeholder="Input ScreenDiagonal here..." title="ScreenDiagonal"><br>
                    <input class="form-control" type="number" step="0.1" name="ram" value="ram"
                           placeholder="Input Ram here..." title="Ram"><br>
                    <input class="form-control" type="number" step="0.1" name="internalMemory" value="im"
                           placeholder="Input InternalMemory here..." title="InternalMemory"><br>
                    <input class="form-control" type="hidden" maxlength="30" name="idCategory" value="idCat" title="IdCategory"><br>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>-->

