<div class="flex-container">
    <div class="flex-item">
        <p>If you input First name and Second name,<br>
            you will seeing text the numbers from 1 to 100<br>
            For multiples of 3, print "firstName" instead of the number<br>
            For multiples of 5, print "secondName" instead of the number<br>
            For multiples of 3 and 5, print "firstNameSecondName" instead of the number<br>
        </p>
    </div>
    <div class="flex-item">
        <form method="post" action="/fizzBuzz">

            <input class="form-control" type="text" name="firstName"
                   placeholder="Input First name here..."><br>
            <input class="form-control" type="text" name="lastName"
                   placeholder="Input Last name here..."><br><br>
            <button type="submit" class="btn btn-primary mb-2">Run</button>
        </form>
    </div>
    <div class="flex-item">
        <textarea class="first-task-area">
            FizzBuzzString
        </textarea>
    </div>
</div>

<div class="flex-container">
    <div class="flex-item">
        <p>If you input number from 0 to ...<br>
            we return array from 0 to your number<br>
        </p>
    </div>
    <div class="flex-item">
        <form method="post" action="/fizzBuzz">

            <input class="form-control" type="number" min="0" name="numberForArray1"
                   placeholder="Input number here..."><br>
            <button type="submit" class="btn btn-primary mb-2">Show me</button>
        </form>
    </div>
    <div class="flex-item">
        <textarea class="first-task-area">
            FizzBuzzArray1
        </textarea>
    </div>
</div>

<div class="flex-container">
    <div class="flex-item">
        <p>If you input start and end numbers from 0 to ...<br>
            we return new array containing the sequence of integers
            from start up to but not including end<br>
        </p>
    </div>
    <div class="flex-item">
        <form method="post" action="/fizzBuzz">

            <input class="form-control" type="number" min="0" name="numberStartForArray3"
                   placeholder="Input number here..."><br>
            <input class="form-control" type="number" min="0" name="numberFinishForArray3"
                   placeholder="Input number here..."><br>
            <button type="submit" class="btn btn-primary mb-2">Show me</button>
        </form>
    </div>
    <div class="flex-item">
        <textarea class="first-task-area">
            FizzBuzzArray3
        </textarea>
    </div>
</div>
