<div class="flex-container">
    <div class="flex-item">
        <p>Enter first number and second number. In method we swap this numbers in one line.<br>
            In method that look like that: a=a+b-(b=a);
        </p>
    </div>
    <div class="flex-item">
        <form method="post" action="/">

            <input class="form-control" type="number" min="0" name="firstVariable"
                   placeholder="Input number here..."><br>
            <input class="form-control" type="number" min="0" name="secondVariable"
                   placeholder="Input number here..."><br>
            <button type="submit" class="btn btn-primary mb-2">Swap</button>
        </form>
    </div>
    <div class="flex-item">
        <textarea class="first-task-area">
            SwapVariable
        </textarea>
    </div>
</div>