<div class="flex-container">
    <div class="flex-item">
        <p>Please input any word or sentence here.<br>
            After you click button you will receive the file,<br>
            In this file you will see how it will be look on airport table.<br>
            ATTENTION: this sentence must include only symbols:<br>
            A-Z, a-z, "space", 0-9, "?", "!", "(", ")" and ".".<br>
            Length should be less than 60 symbols. <br>
            If you input "JAVA" you will see something like that:<br>
            <img alt="This image is example decision" src="/images/java.jpg">
        </p>
    </div>
    <div class="flex-item">
        <form method="post" action="/transformSentence">

            <input class="form-control" type="text" name="sentence"
                   placeholder="Input Sentence here..."><br><br>
            <button type="submit" class="btn btn-primary mb-2">Transform</button>
        </form>
    </div>
    <!--This is message-->
</div>